.webform {
    position: relative;
    margin: auto;
    background-color:  #63C5DA;
    padding: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.35); /* vertical, horizontal, blur, spread, color+opacity */
    border-radius: 10px;
    width: 75%;
}